.page-404{
  padding: 110px 0 120px;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__content{
    max-width: 570px;
    width: 100%;
  }
  &__title{
    @extend %roboto-700;
    font-size: 48px;
    line-height: 54px;
    color: #28384f;
    margin-bottom: 40px;
  }
  &__text{
    max-width: 470px;
    margin-bottom: 55px;
  }
  &__link{
    @extend %button;
  }
}

@media (max-width: 1230px){
  .page-404{
    &__img{
      width: 40%;
    }
  }
}

@media (max-width: 992px){
  .page-404{
    &__img{
      display: none;
    }
  }
}
