<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/register.min.css" />
  </head>
  <body>
    {% include 'src/module/_header/_header.html' %}
    <main class="main">
      {% include 'src/module/_top/_top.html' %}
      {% include 'src/module/_register/_register.html' %}
    </main>
    {% include 'src/module/_footer/_footer.html' %}

    <script src="js/main.min.js"></script>
  </body>
</html>
