html,
body{
  height: 100%;
}
body {
  @extend %quicksand-500;
  color: $default;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  flex-direction: column;
}
.main{
  flex-grow: 1;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a{
  @extend %quicksand-500;
  color: $default;
  font-size: 16px;
  line-height: 26px;
}

.title{
  @extend %roboto-700;
  font-size: 48px;
  line-height: 65px;
  color: $title;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.descr{
  text-align: center;
  max-width: 570px;
  margin: 0 auto 55px;
}

.breadcrumbs{
  display: inline-flex;
  justify-content: center;
  padding-left: 25px;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    width: 16px;
    height: 16px;
    background-image: url('../images/icons/home.svg');
  }
  &__list{
    display: flex;
  }
  &__item{
    color: #727272;
    padding-right: 40px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      background-image: url('../images/icons/angle_right.svg');
      width: 9px;
      height: 10px;
      top: 9px;
      right: 15px;
    }
    &:last-child{
      color: $accent;
      padding-right: 0;
      &::after{
        display: none;
      }
    }
  }
  &__link{
    color: inherit;
  }
}